/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F9F9;
    background: url('../images/scanlines.jpg') repeat;
}
ul, ol {
    margin-left: 24px;
}
.btn a {
    color: #fff;
}
p a, .footer-nav a, dl a {
    color: #0051A8;
    font-weight: bold;
}
/*Colours*/
.fb-color {
    color: #1778F2;
}
.yt-color {
    color: #F70000;
}
.twitter-color {
    color: #009DEB;
}
/*Components*/
.hr {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    height: 2px;
    background-color: rgb(56 56 56 / 25%);
}
.content-area {
    background-color: #FAFAFA;
    border-top: 2px solid #017DC3;
    border-radius: 0px 0px 5px 5px;
    padding: 15px 10px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}
.img-border {
    border-radius: 5px 5px 0px 0px;
}
.proceed-cont {
    max-width: 400px;
    margin: 24px auto;
}
.socicons {
    font-size: 32px;
}
.btn-primary {
    background-color: #00578A;
}
.btn-primary:hover {
    background-color: #017DC3;
}
.btn-secondary {
    background-color: #9E2E05;
}
.btn-secondary:hover {
    background-color: #F26432;
}
.ptw {
    padding-top: 70px;
}
.btn-border {
    border-right: 2px solid #174f6f;
}
.spacer-12 {
    height: 50px;
}
.bookbutton > span {
    color: #fafafa;
}
.bookbutton > span:hover {
    text-decoration: underline;
}
/*Navbar*/
.navi-bar {
    background-color: #017DC3;
    border-bottom: 2px solid #EDEDED;
    width: 100%;
    z-index: 2;
}
.navi-bar-pos {
    position: absolute;
}
.navi-logo {
    padding: 0;
    opacity: 1;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}
.navi-logo:hover {
    opacity: 0.8;
}
.bookbutton {
    display: inline-block;
    background-color: #F26432;
    border: 1px solid #F26432;
    border-radius: 24px;
    padding: 8px 16px !important;
}
.bookbutton:hover {
    border: 1px solid #F26432 !important;
    background-color: rgb(226, 77, 23);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(250, 250, 250, 0.85)
}
.nav-link:hover {
    border-bottom: 2px solid rgba(237, 237, 237, 0.4);
}
.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}
/*Footer*/
.footer-main {
    background-color: #f9f9f9;
    border-top: 2px #017DC3 solid;
    padding: 10px 10px;
    overflow-x: hidden;
}
.footer-nav {
    margin: 0;
}
.footer-main a {
    color: #383838;
}
/*Hero Image & Container*/
.hero {
    overflow: auto;
    position: relative; /* Adapted Hero Section Credit: https://www.developerdrive.com/full-page-hero-image-html-css/ */
    height: 80vh;
    -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.9) inset; /* Vignette Effect Credit: Marco Trulla on codepen.io https://codepen.io/Ragnarokkr/pen/KAejm */
            box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.hero:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('../images/hero.jpg');
    background-size:cover;
    width: 100%;
    height: 80vh;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px); /*Credit: Necrone's reponse on StackOverflow https://stackoverflow.com/a/33091315 */
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.hero-container {
    z-index: 1;
    max-width: 400px;
}
/*Media Queries*/
@media (max-width: 576px) {
    .container {
        padding: 0;
    }
}
@media (min-width: 992px) {
    .bookbutton {
        margin-left: 20px;
    }
    .footer-main {
        padding: 50px 10px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}